*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --primaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);

  /*font-topography*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 3rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813;
  --smallFontSize: .75rem;

}

/*Default styles */
 
html{
  font-size: 90%;
}